<%- include ("partials/header")%>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blogging Site</a>
      <form action="/new" class="d-flex">
        <button class="btn btn-outline-success">New Post</button>
      </form>
    </div>
  </nav>

  <!-- Displaying list of Blogs -->
  <div class="container my-4">
    <div class="row mb-2">
      <%blogs.map((blog)=> {%>
        <div class="col-md-6">
          <div class=" row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">
                <%=blog.categories%>
              </strong>
              <h3 class="mb-0">
                <%=blog.title%>
              </h3>
              <p class="card-text mb-auto">
                <%=blog.content.slice(0,50)%>....
              </p>
              <a href="/<%=blog._id%>" class="stretched-link"> Continue reading </a>
            </div>
          </div>
        </div>
        <%});%>
    </div>
  </div>

<%- include ("partials/footer")%>